!*
build
.sw[po]
.*.sw[po]
*~
*.pyc
*.pyo
*.egg-info
MANIFEST
dist
setuptools*egg
setuptools.pth
distribute*egg
distribute*tar.gz
a.out
.mypy_cache

.cache
.pytest_cache

_git_rev.py

src/
build/
builds/
*.so

*.png
*.hdf5
*.vtu
*.vts
*.msh

.ipynb_checkpoints/

gmsh_tmp/
*.meshmode

.coverage
pytest.xml
prof/

.ccls-cache/
