--index-url https://pypi.python.org/simple/

-e git+https://gitlab.tiker.net/xywei/boxtree.git#egg=boxtree
-e git+https://www.github.com/xywei/gmsh_interop.git#egg=gmsh_interop
-e git+https://gitlab.tiker.net/xywei/meshmode.git#egg=meshmode
-e git+https://gitlab.tiker.net/xywei/pymbolic.git#egg=pymbolic
-e git+https://gitlab.tiker.net/xywei/pytential.git#egg=pytential
-e git+https://gitlab.tiker.net/xywei/sumpy.git#egg=sumpy

-e git+https://gitlab.tiker.net/inducer/cgen.git#egg=cgen
-e git+https://gitlab.tiker.net/inducer/genpy.git#egg=genpy
-e git+https://gitlab.tiker.net/inducer/pyvisfile.git#egg=pyvisfile
-e git+https://gitlab.tiker.net/inducer/loopy.git#egg=loo.py
-e git+https://gitlab.tiker.net/inducer/modepy.git#egg=modepy

-e .[test]
